/* Ana Laura Chioca Vieira  9866531 */

* {
    text-align: justify;
    text-justify: inter-word;}

.pink {
    background-color: rgb(241, 168, 207);}

.blue {
    background-color: rgb(117, 195, 201);}

.purple {
    background-color: rgb(209, 112, 218);}
  